# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app

#Visual Studio shit
*.sln
*.vcproj
*.vcxproj
*.vcxproj.*
*/Debug/*
*/Release/*
Thumbs.db
/src/*.hpp~
/src/*.cpp~
/resources/*.txt~
.DS_Store
*.org~
/.gitattributes
/Debug/Makefile
/Debug/Makefile.Debug
/Debug/Makefile.Release
/sdlbaseforgame.rar
/sdlbaseforgame/3dGaem/3dGaem.opensdf
/sdlbaseforgame/3dGaem/3dGaem.sdf
/sdlbaseforgame/3dGaem/3dGaem.v12.suo
/sdlbaseforgame/3dGaem/3dGaem/Debug/3dGaem.Build.CppClean.log
/sdlbaseforgame/3dGaem/3dGaem/Debug/3dGaem.log
/sdlbaseforgame/3dGaem/3dGaem/Debug/3dGaem.tlog/3dGaem.lastbuildstate
/sdlbaseforgame/3dGaem/3dGaem/Debug/3dGaem.tlog/CL.read.1.tlog
/sdlbaseforgame/3dGaem/3dGaem/Debug/3dGaem.tlog/CL.write.1.tlog
/sdlbaseforgame/3dGaem/3dGaem/Debug/3dGaem.tlog/cl.command.1.tlog
/sdlbaseforgame/3dGaem/3dGaem/Debug/3dGaem.tlog/link.command.1.tlog
/sdlbaseforgame/3dGaem/3dGaem/Debug/3dGaem.tlog/link.read.1.tlog
/sdlbaseforgame/3dGaem/3dGaem/Debug/3dGaem.tlog/link.write.1.tlog
/sdlbaseforgame/3dGaem/3dGaem/Debug/vc120.idb
/sdlbaseforgame/3dGaem/3dGaem/Debug/vc120.pdb
/sdlbaseforgame/3dGaem/Debug/3dGaem.ilk
/sdlbaseforgame/3dGaem/Debug/3dGaem.pdb
*.xml~
