# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app

#Visual Studio shit
*.sln
*.vcproj
*.vcxproj
*.vcxproj.*
*/Debug/*
*/Release/*
Thumbs.db
/src/*.hpp~
/src/*.cpp~
/resources/*.txt~
.DS_Store
*.org~
